.menu-container {
    height: calc(100vh - 60px);
    background-image: url("https://images.unsplash.com/photo-1541746972996-4e0b0f43e02a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8bWVldGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.menu-bar {
    height: 90%;
    width: fit-content;
    position: relative;
}

.menu-bar>ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: white;
    list-style: none;
    font-size: 28px;
    font-weight: 600;
}

.menu-bar>ul>li {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.menu-bar ul li:hover,
.hover {
    cursor: pointer;
    color: black;
    background-color: yellow;
}

.menu-bar:hover {
    width: 100%;
}

.menu-bar:hover li {
    width: 30%;
}

.menu-bar:hover .projection-wrapper {
    display: block;
}


@media screen and (max-width:600px) {
    .menu-bar>ul>li {
        font-size: clamp(20px, 4.3vw, 25px);
    }
}