.training-card {
    --common-padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #3a5e6f;
    border-radius: 20px;
    width: 190px;
    color: white;
    gap: 12px;
    padding-block: 10px;
}

.training-card>* {
    padding-inline: var(--common-padding)
}

.training-card .headline {
    font-weight: 600;
}

.training-card img {
    width: 55px;
}

.darker-stripe {
    background-color: #273b40;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.darker-stripe>div:first-child {
    font-size: 12px;
    font-weight: 400;
}

.register-button {
    text-align: center;
}

.register-button>button {
    outline: none;
    font-weight: 600;
    border: none;
    padding: 5px 15px;
    border-radius: 30px;
    cursor: pointer;
}