.projection-screen {
    height: 100%;
    width: 100%;
    border: 7px solid yellow;
    padding: 20px;
    overflow-y: auto;
}

.projection-wrapper {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 30%;
    display: none;
}